
{% extends 'base.html' %}


{% block title %}Productos{% endblock %}



{% block content %}
<main role="main">
	<div class="container">
	  <div class="row mt-3">
		<div class="col-md-9 mx-auto mb-5">
		  <h2>Productos</h2>
		  <div class="row">
			{% for product in products %}
			  <div class="col-md-4 mt-2 mb-3 ">
				<div class="row p-1">
				  <div class="col-md-12">
					<div class="card" style="width: 15rem">
						<img src="{{product.image.url}}" alt="imagen"/>

					<div class="card-body">
						<h5 class="card-title">{{product.title}}</h5>
						<p class="card-text">{{product.description}}</p>

					</div>
						<div class="card-footer">
							{% if product.price %}
								<p>Precio: $ {{product.price}}</p>
							{% else %}
								<p>Precio: $ Consultar</p>
							{% endif %}
						</div>
					</div>
					
					
				  </div>
				</div>
			  </div>
			{% endfor %}
		</div>
{% endblock %}